


body {
	font-family: 'Work Sans', sans-serif;
}

.wrapper {
    display: block;
}

#sidebar {
    display: none;
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #00c852;
}

#logo {
    margin-left: 1%;
    height: 40px;
    height: 40px;
}

#logo_sidebar {
    margin-left: 5px;
    margin-bottom: 5px;
    height: 20px;
    height: 20px;
}

#sidebar.active {
    display: block;
    left: 0;
}

.blanc {
    color: white;
}

.blanc:hover {
    color: white;
}

.decoration {
    text-decoration: none;
}

.marge {
    margin-left: 5px;
}

#sidebarCollapse {
    display: none;
}

.custom-hr {
    width: 100%;
    height: 14px;
    border-bottom: 1px solid black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.custom-hr-text {
    font-size: 20px;
    background-color: #7e7e7e;
    color: white;
    padding: 2px 10px;
    border-radius: 3px;
}

.image_info {
    border-radius: 20px;
    width: 100%;
    max-width: 450px;
    height: auto;
    margin-right: 2%;
}

.carte-titre {
    font-size: 2em;
    font-weight: bold;
}

.carte-description {
    font-size: 1.1em;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
}

header {
    background-color: #40af24;
    padding-top: 10px;
    padding-bottom: 10px;
}

.colonne_gauche {
    display: inline-block;
    width: 70%;
    margin-bottom: 20px;
}

.colonne_droite {
    display: inline-block;
}

.carte {
    display: inline-block;
    max-width: 28%;
    margin-right: 3%;
    border-radius: 10px;
    padding: 2px;
}

.colonne_gauche_article {
    display: inline-block;
    width: 50%;
    margin-bottom: 20px;
}

.colonne_droite_article {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 30%;
}

.carte1 {
    margin-left: 1%;
    background-image: url("image/luko.jpg");
}
.carte2 {
    background-image: url("image/vivo.jpg");
}
.carte3 {
    background-image: url("image/anonymous.jpg");
}

.info {
    margin-top: 10px;
    margin-left: 15px;
}

.div_image {
    display: inline-block;
    width: 40%;
}

.info_importante {
    margin-top: 10px;
}

.div_info {
    display: inline-block;
    width: 50%;
}

.info_date {
    color: #777788;
    margin-bottom: 7px;
}

.info_categorie {
    font-weight: bold;
}

.info_titre {
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: 10px;
}

.info_description {
    color: #62626b;
    font-size: 1.1em;
}

.plan p {
    font-size: 0.6em;
    margin: 3px;
}

.plan img {
    width: 50px;
}

.info_secondaire_description {
    display: inline-block;
    font-size: 0.7em;
}

.info_secondaire, .plan {
    margin-top: 5px;
    margin-bottom: 5px;
}

.reseau {
    list-style: none;
}

.ligne {
    display: inline-block;
}

.image_taille {
    width: 30px;
    height: 30px;
    padding: 1px;
    padding-bottom: 5px;
}

.facebook:hover {
    background:#3b5997
}

.twitter:hover {
    background:#00aced
}

.instagram:hover {
    background:url(image/insta-bg.gif) no-repeat
}

.youtube:hover {
    background:#ff0000
}

.linkedin:hover {
    background:#006699
}

footer {
    padding-top: 10px;
    background-color: #000000;
}

.couleur {
    color: #818181;
}

.lien_couleur {
    color: #818181;
}

.lien_couleur:hover {
    color: #ffffff;
}

.lien_article {
    color: #000000;
}

.article {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1000px) {
    #sidebarCollapse {
        display: inline-block;
    }

    .reseau.row {
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }

    .div_image {
        display: block;
        width: 90%;
    }

    .div_info {
        width: 90%;
    }

    .info_date {
        font-size: 0.6em;
    }
    .info_titre {
        font-size: 0.9em;
    }
    
    .info_description {
        font-size: 0.7em;
    }

    .colonne_gauche {
        display: block;
        width: 100%;
    }
    
    .colonne_droite {
        display: block;
        width: 100%;
    }

    .info_secondaire, .plan {
        margin-left: 10px;
    }

    .carte-titre {
        font-size: 1.1em;
        font-weight: bold;
    }
    
    .carte-description {
        font-size: 0.8em;
    }
}